#calculatorDisplay{
    color: white;

    padding: 0 32px 0 0;

    font-size: 40pt;
    text-align: end;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 12%;
}